@import url("~prismjs/themes/prism-tomorrow.css");

@tailwind preflight;
@tailwind components;

html {
  box-sizing: content-box;
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  @apply text-lg text-black bg-grey-lightest m-0 p-0;
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-display: swap;
}

a.link {
  @apply text-green-dark no-underline;

  &:hover {
    @apply text-green;
  }
}

a.button {
  @apply bg-green-dark text-white rounded py-2 px-4 no-underline;

  &:hover {
    @apply bg-green;
  }
}

a.makerad-link {
  width: 100%;
  height: auto;
}

main {
  @apply leading-loose;

  header h1 {
    @apply mb-4;
  }

  h1 {
    @apply mb-6 leading-normal;
  }

  h2 {
    @apply mt-8 mb-5 leading-normal;
  }

  h3 {
    @apply mb-4 leading-normal;
  }

  h4 {
    @apply mb-2;
  }

  p {
    @apply mb-4;
  }

  ol,
  ul {
    @apply m-0 p-0 ml-8 mb-4;
  }

  li {
    @apply mb-1;
  }

  hr {
    @apply my-4 border-t border-grey-light;
  }

  img {
    @apply border-white border-4 rounded shadow;

    &.no-border {
      border: none;
      box-shadow: none;
      border-radius: 0;
    }
  }

  a {
    @apply text-green-dark no-underline font-bold;

    &:hover {
      @apply text-green;
    }
  }

  pre[class*="language-"] {
    font-size: 0.8em;
    @apply mb-4 max-w-full;

    code {
      @apply border-none leading-loose;
    }
  }

  code {
    @apply font-bold rounded bg-white text-pink-dark border-grey-lighter border text-sm p-1 whitespace-pre-wrap;
  }

  code[class*="language-"] {
    @apply whitespace-pre-wrap p-0;
  }

  blockquote {
    @apply p-4 mx-4 mb-4 bg-white border-grey-lightest italic text-grey-darkest;

    p {
      @apply mb-0;
    }
  }

  .featured-image {
    @apply bg-grey-lightest;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
    width: 100%;
  }
}

.video-notification {
  @apply bg-yellow-lighter text-grey-darkest p-4 rounded border-yellow border;
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}

@media (min-width: 768px) {
  body {
    @apply text-base;
  }

  main {
    code[class*="language-"] {
      @apply whitespace-pre;
    }
  }
}

@tailwind utilities;
